<form (ngSubmit)="salvar()">

  <br/>
  <h3>{{titulo}}</h3>

  <label>Descrição:
    <input type="input" name="descricao" size="30" [(ngModel)]="receita.descricao"/>
  </label><br/><br/>

  <label>vencimento:
    <input type="input" name="vencimento" size="10" [(ngModel)]="receita.vencimento"/>
  </label><br/><br/>

  <label>valor:
    <input type="input"  name="vencimento" size="18" [(ngModel)]="receita.valor"/>
  </label><br/><br/>
<!--
  <label>Registro Ativo:
    <input type="radio" name="ativo" [(ngModel)]="pessoa.ativo" [value]="true">Sim
    <input type="radio" name="ativo" [(ngModel)]="pessoa.ativo" [value]="false">Não<br>
  </label><br/><br/>
-->
  <button type="submit">Salvar</button>
</form>
