<form (ngSubmit)="salvar()">

  <br/>
  <h3>{{titulo}}</h3>

  <mat-form-field>
    <input matInput placeholder="Descrição" size="30" name="descricao"
           [formControl]="descricaoFormControl"
           [(ngModel)]="receita.descricao"
           required>
    <mat-error *ngIf="descricaoFormControl.invalid">{{getErrorDescricaoMessage()}}</mat-error>
  </mat-form-field><br/><br/>


  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" placeholder="Vencimento" name="vencimento"
           [formControl]="dataVencimentoFormControl"
           [(ngModel)]="receita.vencimento"
           required>
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
    <mat-error *ngIf="dataVencimentoFormControl.invalid">{{getErrorDataMessage()}}</mat-error>
  </mat-form-field><br/><br/>

  <mat-form-field>
    <input matInput placeholder="Valor" type="number" name="valor"
           [formControl]="valorFormControl"
           [(ngModel)]="receita.valor"
           required>
    <span matPrefix>R$&nbsp;</span>
    <mat-error *ngIf="valorFormControl.invalid">{{getErrorValorMessage()}}</mat-error>
  </mat-form-field><br/><br/>

<!--
  <label>Registro Ativo:
    <input type="radio" name="ativo" [(ngModel)]="pessoa.ativo" [value]="true">Sim
    <input type="radio" name="ativo" [(ngModel)]="pessoa.ativo" [value]="false">Não<br>
  </label><br/><br/>
  -->
  <button type="submit" [disabled]="desabilitarSalvar()">Salvar</button>

</form>
