<h3>{{titulo}}</h3>

<table>
  <thead>
  <tr>
    <th>Descrição</th>
    <th>Vencimento</th>
    <th>Valor</th>
    <th>Excluir</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let receita of receitas; let i = index;">
    <td>{{ receita.descricao }}</td>
    <td>{{ receita.vencimento  | date: 'dd/MM/yyyy'}}}</td>
    <td>{{ receita.valor }}</td>
    <!--
    <td *ngIf='receita.ativo'>Sim</td>
    <td *ngIf='!receita.ativo'>Não</td>
    -->
    <td><a (click)="excluir(receita.id, i);">Excluir</a></td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: right;">Total de Registros: {{ receitas.length }}</td>
  </tr>
  </tbody>
</table>
